.container__main {
    display: flex;
    flex-direction: column;
    background-color: var(--background-main);
    height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: start;
    align-items: center;
}

.container__blocks{
    position: relative;
    height: 60%;
    width: 90%;
    background-color: var(--background-second);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
}

.block {
    position: relative;
    height: 90%;
    width: 90%;
    margin: 1px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.gray {
    background-color: var(--background-main);
}

.highlight {
    background-color: var(--highlight-third);
}

.restart__button {
    display: flex;
    text-decoration: none;
    margin: 1em 0;
    height: 72px;
    width: 144px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 780px) {
    .container__blocks {
        width: 590px;
    }
}
