.navbar {
    display: flex;
    height: 20vh;
    width: 100vw;
}

.container__navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.nav__menu {
    display: flex;
}

.menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 144px;
    border-radius: var(--border__radius);
    margin: 0 1em;
    text-decoration: none;
}

.container__score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 144px;
    margin-right: 1em;
}

.container__score:hover {
    content: 'restart';
}

.menu__list {
    position: absolute;
    top: 100%;
    display: none;    
    z-index: 1;
    flex-direction: column;
    width: 144px;
    align-items: center;
}

.menu__list--option {
    justify-content: center;
    margin: 1px 0;
}

.menu__button--color {
    display: flex;
    text-decoration: none;
    height: 72px;
    width: 144px;
    align-items: center;
    justify-content: center;
}

.text__purple {
    color: var(--highlight-Purple);
    font-size: 24px;
    font-family: var(--font-main);
    font-weight: 700;
}

.text__orange {
    color: var(--highlight-Orange);
    font-size: 24px;
    font-family: var(--font-main);
    font-weight: 700;
}

.text__blue {
    color: var(--highlight-Blue);
    font-size: 24px;
    font-family: var(--font-main);
    font-weight: 700;
}

@media screen and (min-width: 780px) {
    .menu__button, .container__score {
        width: 370px;
    }

    .menu__list {
        width: 370px;
        margin-right: 50%;
    }
}

@media screen and (min-width: 1080px) {
    .container__navbar {
        justify-content: center;
    }

    .menu__list {
        width: 370px;
        margin-right: 50%;
    }
}
