.container__navbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.nav__menu {
    display: flex;
    margin-left: 5px;
}

.menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 144px;
    border-radius: var(--border__radius);
}

.health__bar{
    height: 72px;
    width: 144px;
    margin: 0.5em;
}

.menu__list {
    position: absolute;
    top: 100%;
    display: none;    
    z-index: 1;
    flex-direction: column;
    left: 0;
    width: 144px;
    align-items: center;
}

.menu__list--option {
    justify-content: center;
    margin: 1px 0;
}

.menu__list--option:hover {
    color: var(--third);
}

.menu__list--option-link {
    display: flex;
    text-decoration: none;
    height: 72px;
    width: 144px;
    align-items: center;
    justify-content: center;
}
