@import url('navbar.css');
@import url('main.css');
@import url('footer.css');

:root {
    /*-----Colors-----*/
    --background-main: #e3e3e3;
    --background-second: #c4c3c3;
    --background-third: #d2cfcfdb;
    --main: #e3e3e3;
    --second: #c4c3c3;
    --third: #d2cfcfdb;
    --highlight-main: #eaa611;
    --highlight-second: #970e90;
    --highlight-third: #419bc5;
    /*-----border__radius-----*/
    --border__radius: 8px;
    /*-----Fonts-----*/
    --font-main: 'Poppins', sans-serif;
}

.item__border {
    border: 1px solid var(--highlight-third);
    border-radius: var(--border-radius);
}

.text__color {
    color: var(--main);
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 24px;
}

.gray {
    background-color: var(--main);
}

.dark {
    background-color: var(--second);
}

.highlight--main {
    background-color: var(--highlight-main);
}

.item__border--main {
    border: 1px solid var(--highlight-main);
    border-radius: var(--border__radius);
}

.highlight--second {
    background-color: var(--highlight-second);
}

.item__border--second {
    border: 1px solid var(--highlight-second);
    border-radius: var(--border__radius);
}

.highlight--third {
    background-color: var(--highlight-third);
}

.item__border--third {
    border: 1px solid var(--highlight-third);
    border-radius: var(--border__radius);
}