@import url('navbar.css');
@import url('main.css');

:root {
    /*-----Colors-----*/
    --background-main: #e3e3e3;
    --background-second: #c4c3c3;
    --background-third: #d2cfcfdb;
    --main: #e3e3e3;
    --second: #c4c3c3;
    --third: #d2cfcfdb;
    --highlight-Purple: #970e90;
    --highlight-Orange: #eaa611;
    --highlight-Blue: #419bc5;
    /*-----border__radius-----*/
    --border__radius: 8px;
    /*-----Fonts-----*/
    --font-main: 'Poppins', sans-serif;
}

.item__border {
    border: 1px solid var(--highlight-Blue);
    border-radius: var(--border-radius);
}

.text {
    color: var(--main);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 18px;
}

.grey {
    background-color: var(--main);
}

.dark {
    background-color: var(--second);
}

.highlight--Purple {
    background-color: var(--highlight-Purple);
}

.item__border--Purple {
    border: 1px solid var(--highlight-Purple);
    border-radius: var(--border__radius);
}

.highlight--Orange {
    background-color: var(--highlight-Orange);
}

.item__border--Orange {
    border: 1px solid var(--highlight-Orange);
    border-radius: var(--border__radius);
}

.highlight--Blue {
    background-color: var(--highlight-Blue);
}

.item__border--Blue {
    border: 1px solid var(--highlight-Blue);
    border-radius: var(--border__radius);
}
