@import url('navbar.css');
@import url('main.css');
@import url('footer.css');

:root {
    /*-----Colors-----*/
    --background-main: #e3e3e3;
    --background-second: #c4c3c3;
    --background-third: #d2cfcfdb;
    --highlight-main: #eaa611;
    --highlight-second: #970e90;
    --highlight-third: #419bc5;
    /*-----Border-----*/
    --border-radius: 8px;
}

.item__container {
    height: 72px;
    width: 72px;
    margin: 0.5em;
}

.item__container--large {
    height: 72px;
    width: 144px;
    margin: 0.5em;
}

.item__border {
    border: 1px solid var(--highlight-third);
    border-radius: var(--border-radius);
}